// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@font-face {
  font-family: "SegoeScript";
  src: url("../fonts/segoesc.ttf");
}

$primary: #1c1d21;
$background: #26272c;
$red: #d52941;
$white: #f3f3f3;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
  background-color: $background;
}

.nav-item {
  font-family: SegoeScript;
}

//.nav-link {
//  color: $white !important;
//  font-size: 16pt;
//}

.navbar-nav .nav-item .nav-link {
  color: $white;
  font-size: 16pt;
}

.navbar-nav .nav-item:hover .nav-link {
  color: pink;
}

.active {
  color: $red !important;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggler {
  z-index: 1;
}
