// FONTS
@font-face {
  font-family: "SegoeScript";
  src: url("../fonts/segoesc.ttf");
}

//ANIMATIONS

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

// VARIABLES

$font-family: SegoeScript;
$primary: #26272c;
$background: #1c1d21;
$red: #d52941;
$rgba-red: rgba(213, 41, 65, 1);
$white: #f3f3f3;
$blue: #5295cb;

// IMPORT BOOTSTRAP HERE

@import "../node_modules/bootstrap/scss/bootstrap";

// CUSTOM CSS AFTER BOOTSTRAP (use !important for override)

// SCROLLBAR
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $background;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $background;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $red;
}

// END OF SCROLLBAR

body {
  background-color: $background;
}

.nav-item {
  font-family: SegoeScript;
}

.navbar-nav .nav-item .nav-link {
  color: $white;
  font-size: 16pt;
}

.navbar-nav .nav-item:hover .nav-link {
  color: pink;
}

.active {
  color: $red !important;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggler {
  z-index: 1;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  flex-direction: column;
  justify-content: space-evenly !important;
}

section.landing-page > svg {
  color: $red;
  animation: bounce 2s infinite linear;
  display: inline-block;
  position: relative;
}

.first {
  display: flex;
  align-items: center;
  justify-content: left;
}

.test {
  background-color: $blue;
  display: none;
  border-color: $red;
  height: 80vh;
  width: 100%;
}

.first > .card {
  border-radius: 100px;
  border-color: $primary;
  //box-shadow: 0px 0px 25px 10px $red;
  box-shadow: rgba(213, 41, 65, 0.6) 0px 0px 50px 4px;
}

.card-title > p {
  color: $red !important;
  font-weight: bold;
  padding-bottom: 6px;
}

.first > .card > .card-body > .card-title {
  //background-color: $background !important;
  height: auto;
  //margin-top: 2rem;
  //margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5 5 5 5;
}

.form-control {
  transition: all 1s ease-out;
}

.form-control:focus {
  width: 100% !important;
}

.form-control:hover {
  width: 100% !important;
  transition: all 0.2s ease-in-out;
}

.loginbtn {
  position: absolute !important;
  background-color: #1c1d21 !important;
  color: #f3f3f3 !important;
  //padding-left: 15px !important;
  //padding-right: 15px !important;
  width: 10em !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 2rem !important;
  text-align: center !important;
  height: auto;
  font-size: large;
  font-family: SegoeScript;
  border-width: 3px;
  border-color: $background;
  box-shadow: rgba(213, 41, 65, 0.2) 0px 0px 30px 4px;
  transition: all ease-out 0.2s;
}

.loginbtn:hover {
  color: $red !important;
  transition: all ease-in-out 0.2s;
  border-color: $background;
  border-width: 0px;
  box-shadow: rgba(213, 41, 65, 0.5) 0px 0px 50px 4px;
}

// @ Design Copyright Alex Ressa and The Students of UPT @ //
